# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env
client/.env

# Build outputs
dist/
build/
client/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NLP Models
server/model.nlp

# Misc
.DS_Store
.vscode/
